################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Kulish.net/.vs/Kulish.net/FileContentIndex/2060348a-840f-4ae4-a4aa-54265e7e5380.vsidx
/Kulish.net/.vs/Kulish.net/FileContentIndex/325b5655-2087-4842-92fb-9ec439145843.vsidx
/Kulish.net/.vs/Kulish.net/FileContentIndex/ce542079-261f-4083-8cd4-94809504a496.vsidx
/Kulish.net/.vs/Kulish.net/FileContentIndex/d0fd3c68-bb30-4cf6-8dde-2dd2b501cc12.vsidx
/Kulish.net/.vs/Kulish.net/FileContentIndex/e985853d-926b-4995-8392-f13861dd78e4.vsidx
